.Principal{
    background-color: black;
}
.img{
    width: 500px;
    height: 250px;;
}
.integrantes {
    background-color: white;
}
#idosos{
    font-size: 30px;
}
#title{
    font-size: 30px;
    color: white;
    font-style: inherit;
}