  .Principal {
    background-color: #222;
  }

   #full {
        margin-left:auto;
        margin-right:auto;
        margin-top: -2%;
        width:40%;
        height: 75%;
        display: flex;
        flex-direction: column;
    }

    #seq_num {
        margin-left: 4%;
    }

     #control {
         width:100%;
         height:15%;
     }

     #jogo {
       width:100%;
       height:85%;
       display: flex;
       flex-direction: column;
     }

     .rowColors {
        display: flex;
        flex-direction: row;
     }

     .seq_label {
        font-family: Arial;
        font-size: 3em;
        font-weight: bold;
        color: #FFF;
     }

     #cmdNewGame {
         font-size: 3em;
         font-weight: bold;
         width: 100%;
         /*height: 5em;*/
     }

     table, tr {
       width: 100%;
     }

     .peca {
         float:left;
         width:50%;
         height:45%;
         margin:5px;
     }

     #peca1{
         border-top-left-radius:100%;
     }

     #peca2{
         border-top-right-radius:100%;
     }

     #peca3{
         border-bottom-left-radius:100%;
     }

     #peca4{
         border-bottom-right-radius:100%;
     }

     .peca1unsel{background-color:red;}
     .peca2unsel{background-color:yellow;}
     .peca3unsel{background-color:green;}
     .peca4unsel{background-color:blue;}

     .peca1sel{background-color:#FFE6E6;}
     .peca2sel{background-color:#FFFFE6;}
     .peca3sel{background-color:#E0FFE0;}
     .peca4sel{background-color:#E6F0FF;}



     .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }